/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --shade-of-white: #FFFFFF;
  --shade-of-purple: #4254FF;
  --shade-of-contact-button: #6B63FF;
  --shade-of-project-tags: #6C63FF;
  --shade-of-lighter-purple: #7583FF;
  --shade-of-light-blue: #183182;
  --shade-of-dark-blue: #0A092D;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, sans-serif;
}