/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --shade-of-white: #FFFFFF;
  --shade-of-purple: #4254FF;
  --shade-of-contact-button: #6B63FF;
  --shade-of-project-tags: #6C63FF;
  --shade-of-lighter-purple: #7583FF;
  --shade-of-light-blue: #183182;
  --shade-of-dark-blue: #0A092D;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, sans-serif;
}

.text-shadow {
  text-shadow: 
    -1px -1px 0 var(--shade-of-project-tags),
    1px -1px 0 var(--shade-of-project-tags),
    -1px 1px 0 var(--shade-of-project-tags),
    1px 1px 0 var(--shade-of-project-tags);
}

.shadow {
  box-shadow: 0px 4px 4px rgba(24, 49, 130, 1);
}

.active-nav-link {
  color: var(--shade-of-purple);
  text-decoration: underline;
}

.contact-button button {
  transition: transform 0.1s ease;
}

.contact-button .active-button button {
  transform: translateY(2px);
  box-shadow: 0.2rem 0.5rem 4px rgba(14, 44, 128, 0.328);
  background-color: var(--shade-of-light-blue);
}